@import "styles/variables";

* {
	box-sizing: border-box;
	font-family: $font-family_1;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@import "styles/_menu";
@import "styles/_grid";
@import "styles/_services";
@import "styles/_contact";
@import "styles/_newsletter";
@import "styles/_footer";
@import "styles/hamburgerMenu";
@import "styles/mediaQueries";

