@import "./variables";
@import "./_menu";
@import "./_grid";
@import "./_services";
@import "./_contact";
@import "./_newsletter";
@import "./_footer";

/* ---------------- MEDIA QUERIES ------------------- */

/* ---------------- WIDTH 1024px --------------------- */

@media only screen and (max-width: 1024px) {
	.container-fluid {
		justify-content: space-between !important;
		z-index: 2;
	}
	.nav__bar {
		padding: 22px;
	}
	.nav__clickable {
		display: none;
	}
	.nav__logo {
		height: 52px;
		img {
			width: 144px;
			margin-right: 50px;
			margin-left: 70px;
		}
	}
	.nav__links {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	.nav__links__container{
		justify-items: end;
	}
	.navbar-expand-lg .navbar-nav{
		margin-right: 0;
	}

	.nav__link {
		font-size: 16px;
	}
	.services__section {
		margin: 48px auto;
		width: 95%;
	}
	.services__heading {
		font-size: 45px;
	}
	.services__icons--icon--first {
		margin: 8px;
		width: 144px;
		height: 144px;
	}
	.services__icons--icon--second {
		margin: 8px;
		width: 144px;
		height: 144px;
	}
	.contact__section {
		padding: 38px 0 48px 0;
	}
	.contact__heading {
		font-size: 35px;
		margin-bottom: 35px;
	}
	.contact__form__container {
		margin: 0 auto;
		width: 496px;
		height: 676px;
		border-radius: 10px;
		background-color: $background-color_5;
		box-shadow: 4px 4px 8px #C8C8C8;
	}
	.contact__form {
		display: flex;
	}
	.contact__inputs {
		font-size: 14px;
		width: 348px;
	}
	.contact__inputs--radio {
		width: 348px;
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.contact__inputs--text {
		font-size: 14px;
		width: 348px;
		height: 161px;
	}
	.contact__rodo {
		width: 218px;
	}
	.contact__submit {
		width: 248px;
		margin: 25px;
	}
	.newsletter__section {
		margin: 0;
		padding: 45px 0;
	}
	.newsletter__heading {
		width: 200px;
		height: 81px;
		font-size: 28px;
	}
	.footer__container {
		flex-direction: row;
		align-content: center;
	}
	.footer__social__container {
		margin: 0 100px;
	}
	.footer__logo__container {
		margin: 0 100px;
	}
}

/* ---------------- WIDTH 768px --------------------- */

@media only screen and (max-width: 768px) {
	.container-fluid {
		justify-content: space-evenly !important;
		z-index: 2;
	}
	.nav__bar {
		padding: 22px;
	}
	.nav__clickable {
		display: none;
	}
	.nav__logo {
		height: 52px;
		img {
			width: 144px;
			margin-right: 100px;
			margin-left: 0;
		}
	}
	.nav__lang__container {
		margin: 70px auto 0;
	}
	.navbar-expand-lg .navbar-nav{
		margin-right: 0;
	}
	.nav__li {
		font-weight: 500;
		margin: 29px 0 0 0;
	}
	.nav__links__container{
		max-height: 600px;
	}
	.nav__link {
		font-size: 23px;
	}
	.collapse {
		position: absolute;
		width: 100%;
		top: 104px;
		height: 600px !important;
		background-color: rgba(255,255,255,0.8);
		backdrop-filter: blur(8px);
	}
	
	.pictures__container {
		grid-template-columns: repeat(2, 1fr);
	}
	.picture1 {
		display: none;
	}
	.picture10 {
		display: none;
	}
	.services__section {
		margin: 48px auto;
		width: 95%;
	}
	.services__heading {
		font-size: 45px;
	}
	.services__icons--icon--first {
		margin: 8px;
		width: 144px;
		height: 144px;
	}
	.services__icons--icon--second {
		margin: 8px;
		width: 144px;
		height: 144px;
	}
    .services__icons--reverse-on-tablets{
        flex-direction: row-reverse;
    }
	.contact__section {
		padding: 38px 0 48px 0;
	}
	.contact__heading {
		font-size: 35px;
		margin-bottom: 35px;
	}
	.contact__form__container {
		margin: 0 auto;
		width: 496px;
		height: 676px;
		border-radius: 10px;
		background-color: $background-color_5;
		box-shadow: 4px 4px 8px #C8C8C8;
	}
	.contact__form {
		display: flex;
	}
	.contact__inputs {
		font-size: 14px;
		width: 348px;
	}
	.contact__inputs--radio {
		width: 348px;
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.contact__inputs--text {
		font-size: 14px;
		width: 348px;
		height: 161px;
	}
	.container-fluid{
		display: flex;
		flex-direction: column;
	}
	.contact__rodo {
		width: 218px;
	}
	.contact__submit {
		width: 248px;
		margin: 25px;
	}
	.nav__links{
		margin-top: 20px;
	}
	.newsletter__section {
		margin: 0;
		padding: 45px 0;
	}
	.newsletter__heading {
		width: 200px;
		height: 81px;
		font-size: 28px;
	}
	.footer__container {
		flex-direction: row;
		align-content: center;
	}
	.footer__social__container {
		margin: 0 100px;
	}
	.footer__logo__container {
		margin: 0 100px;
	}
	.logo_btn{
		display: flex;
		justify-content: end;
	}
}
/* --------------- WIDTH 425px ----------------- */
@media only screen and (max-width: 425px) {
	
	.nav__bar {
		padding: 22px;
	}

	.nav__logo{
		margin-right: 0;
	}
	.nav__lang__container {
		margin: 70px auto 0;
	}
	.pictures__container {
		grid-template-columns: repeat(1, 1fr);
	}
	.services__heading {
		font-size: 35px;
	}
    .services__icons--reverse-on-mobile{
        flex-direction: row;
    }
    .services__icons--reverse-on-mobile-2{
        flex-direction: row-reverse;
    }
    .services__icons--reverse-on-mobile-3 {
        flex-direction: row;
    }
	.contact__section {
		padding: 38px 0 48px 0;
	}
	.contact__heading {
		font-size: 35px;
		margin-bottom: 35px;
	}
	.contact__form__container {
		margin: 0 auto;
		width: 296px;
		height: 676px;
		border-radius: 10px;
		background-color: $background-color_5;
		box-shadow: 4px 4px 8px #C8C8C8;
		order: 1;
	}
	.contact__form {
		display: flex;
	}
	.contact__inputs {
		font-size: 14px;
		width: 248px;
	}
	.contact__inputs--radio {
		width: 248px;
		font-size: 11px;
	}
	.contact__inputs--text {
		font-size: 14px;
		width: 248px;
		height: 161px;
	}
	.contact__rodo {
		width: 218px;
	}
	.contact__submit {
		width: 248px;
	}
	.container-fluid {
		flex-wrap: nowrap !important;
	}
	.footer__container {
		flex-direction: column;
		justify-content: space-around;
		padding-bottom: 0;
	}
	.footer__social__container {
		margin: 0 250px 45px;
	}
	.footer__logo__container {
		margin: 0 250px 45px;
	}
	.footer__social__images {
		margin: 0 10px;
	}
}
