$color_1: #3C3F40;
$color_2: #BF9D8A;
$color_3: #FFFFFF;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: #FFF;
$background-color_2: #E9E9E3;
$background-color_3: #F5F5F1;
$background-color_4: #D8D9CC;
$background-color_5: #FFFFFF;
$background-color_6: #BF9D8A;
$background-color_7: #DFCEC5;
$background-color_8: transparent;
$background-color_9: #3C3F40;